[gcode_macro START_PRINT]
variable_parameter_AREA_START : 0,0
variable_parameter_AREA_END : 0,0
gcode:
    M18 #disable steppers so we can home again
    RESET_EXTRUDER
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    M104 S{EXTRUDER_TEMP} #set extruder temp but dont wait
    M190 S{BED_TEMP} ;wait for bed to get hot
    ABSOLUTE_POSITION
    HOME
    EXCLUDE_OBJECT_DEFINE
    SCREWS_TILT_CALCULATE MAX_DEVIATION=0.05
    #LEVEL AREA_START={params.AREA_START|default("0,0")} AREA_END={params.AREA_END|default("0,0")}  #level bed
    BED_MESH_PROFILE LOAD="default"

    M109 S{EXTRUDER_TEMP}  ;wait for noz to get hot
    Z_LIFT #lift 2 mm
    PURGE_LINE
    RESET_EXTRUDER
    SET_GCODE_OFFSET Z=0.0

[gcode_macro END_PRINT]
gcode:
    G91; set coordinates to relative
    G1 F1800 E-3; retract
    G1 F3000 Z10; lift nozzle off the print 10mm
    G90; change to absolute
    G1 X0 Y217 F1000 ; prepare for part removal
    M106 S0 ; turn off cooling fan
    M104 S0 ; turn off extruder
    M140 S0 ; turn off bed
    M84 ; disable motors


#####################################
#          PID Tune Macros          #
#       Version 1.0  2023-1-30      #
#####################################

################################
######### PID_EXTRUDER #########
################################
[gcode_macro PID_EXTRUDER]
description: PID Tune for the Extruder
gcode:
  {% set e = printer.toolhead.extruder %}
  {% set T = params.TEMPERATURE|default(210)|float %}
  {% set S = params.FAN_IN_PERCENT|default(0)|float *2.55 %}
  {% set P = printer.configfile.config[e].pid_kp|float %}
  {% set I = printer.configfile.config[e].pid_ki|float %}
  {% set D = printer.configfile.config[e].pid_kd|float %}
  M106 S{S}
  #M118 // PID parameters: pid_Kp={P} pid_Ki={I} pid_Kd={D}  (old)
  PID_CALIBRATE HEATER={e} TARGET={T}
  TURN_OFF_HEATERS
  SAVE_CONFIG
 
################################
############ PID_BED ###########
################################
[gcode_macro PID_BED]
description: PID Tune for the Bed
gcode:
  {% set T = params.TEMPERATURE|default(60)|float %}
  {% set P = printer.configfile.config['heater_bed'].pid_kp|float %}
  {% set I = printer.configfile.config['heater_bed'].pid_ki|float %}
  {% set D = printer.configfile.config['heater_bed'].pid_kd|float %}
 #M118 // PID parameters: pid_Kp={P} pid_Ki={I} pid_Kd={D}  (old)
  PID_CALIBRATE HEATER=heater_bed TARGET={T}
  TURN_OFF_HEATERS
  SAVE_CONFIG

